header {
    background-color: #4aade7;
    color: #e8ebdc;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 90px;
}

h3 {
    font-size: 50px;
}

.image {
    border-radius: 50%;
    height: 500px;
    width: 30%;

}

main {
    background-color: #95d0f1;
    text-align: center;
    padding: 50px;
}

p {
    font-size: 20px;
}

ul {
    display: table;
    margin: 0 auto;
    font-size: 20px;
    text-align: left;
}

h2 {
    font-size: 40px;
    color: #e8ebdc;
}

footer {
    background-color: #4aade7;
    text-align: center;
    padding: 40px;
}

ol {
    display: table;
    margin: 0 auto;
    text-align: left;
}
a{
    font-size: 15px;
}

a:link { color: red;}
a:visited { color: green; }
a:hover { color: #e8ebdc; }
a:active { color: pink; }